{#include dev/svenehrke/demo/ssfepatterns/components/bulmapage.html}
    <h1 class="title">UrlComponentPage</h1>
    <button class="button" hx-get="{M05D01MessageRouting:URL}?message=hello" hx-target="#my-message">Include Component</button>
    <div id="my-message"></div>
    <hr>
    <p>Message Component is dynamically included using:</p>
    <pre>hx-get=M05D01MessageRouting.URL?message=hello</pre>
    <hr>
    {#include dev/svenehrke/demo/ssfepatterns/m05htmx/m05d01_code}{/include}
{/include}

