{#include dev/svenehrke/demo/ssfepatterns/components/bulmapage.html}
    <!-- docs:start page -->
    <h1 class="title">UrlComponentPage</h1>
    <button class="button" hx-get="{S05D01MessageRouting:URL}?message=hello" hx-target="#my-message">Include Component</button>
    <div id="my-message"></div>
    <hr>
    <p>Message Component is dynamically included using:</p>
    <pre>hx-get=S05D01MessageRouting.URL?message=hello</pre>
    <!-- docs:end page -->
    <hr>
    <a href="http://localhost:4321/technologies/07_qute/s05/">Docs</a>
{/include}

